<nav class="navbar">
    <div class="navbar-brand">
        <a href="/home">Library Management</a>
    </div>
    <ul class="navbar-menu">
        <a routerLink="/home">Home</a> &nbsp;&nbsp;
        <a routerLink="/booklist">Booklist</a> &nbsp;&nbsp;
        <a routerLink="/searchbook">Searchbook</a> &nbsp;&nbsp;
        <a routerLink="/about">About</a> &nbsp;&nbsp;
        <a routerLink="/contact">Contact</a> &nbsp;&nbsp;
        <a routerLink="/login">Login</a> &nbsp;&nbsp;
        <a routerLink="/borrowreturn">Borrow&Return</a> &nbsp;&nbsp;
        <a routerLink="/registration">registration</a>
    </ul>
</nav>
<router-outlet></router-outlet>
